name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-2019

    strategy:
      matrix:
        arch: [x64, ia32]

    env:
        npm_config_arch: ${{ matrix.arch }}

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Enable Corepack
      run: corepack enable

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: yarn

    - run: yarn install --frozen-lockfile

    - run: yarn build --arch=${{ matrix.arch }} --publish=never

    - uses: actions/upload-artifact@v4
      with:
        name: release-${{ matrix.arch }}
        path: build/*.exe

  release:
    runs-on: windows-latest

    needs: build

    if: success()

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Generate Changelog
      run: npx conventional-changelog-cli -p angular -o CHANGELOG.md -r 2
    - run: cat CHANGELOG.md

    - uses: actions/download-artifact@v4
      with:
        name: release-x64
        path: release-artifact

    - uses: actions/download-artifact@v4
      with:
        name: release-ia32
        path: release-artifact

    - uses: softprops/action-gh-release@v1
      with:
        draft: false
        token: ${{ secrets.GITHUB_TOKEN }}
        body_path: CHANGELOG.md
        files: release-artifact/*
